* {
	padding: 0;
	margin: 0;
}

@media (max-width: 600px) 
and (orientation:portrait){
	* {
		font-size: 100%;
	}
	.gameBottomHeadline {
		padding-top: 20%;
	}
	.gameBottomText {
		padding-bottom: 15%;
	}
}

@media (max-width: 600px) 
and (orientation:landscape){
	* {
		font-size: 100%;
	}
	.gameTop {
		display: none;
	}
	.gameBottomContainer {
		align-items: center;
    justify-content: center;
	}
	.gameBottomText {
		text-align: center;
	}
}

@media (min-width: 600px) 
and (max-width:767px) 
and (orientation:portrait){
	* {
		font-size: 104%;
	}
	.gameBottomHeadline {
		padding-top: 20%;
	}
	.gameBottomText {
		padding-bottom: 15%;
	}
}

@media (min-width: 600px) 
and (max-width:767px) 
and (orientation:landscape){
	* {
		font-size: 104%;
	}
	.gameTop {
		display: none;
	}
	.gameBottomContainer {
		align-items: center;
		justify-content: center;
	}
	.gameBottomText {
		text-align: center;
	}
}

@media (min-width: 768px)
and (max-width:991px) 
and (orientation:portrait){
	* {
		font-size: 106%;
	}
	.gameTop {
		display: flex;
	}
	.gameBottomHeadline {
		padding-top: 20%;
	}
	.gameBottomText {
		padding-bottom: 15%;
	}	
}

@media (min-width: 768px)
and (max-width:991px) 
and (orientation:landscape){
	* {
		font-size: 106%;
	}
	.gameTop {
		display: none;
	}
	.gameBottomContainer {
		align-items: center;
		justify-content: center;
	}
	.gameBottomText {
		text-align: center;
	}
}

@media (min-width: 992px) 
and (max-width:1199px){
	* {
		font-size: 108%;
	}
	.gameTop {
		display: flex;
	}
	.gameBottomContainer {
		align-items: center;
		padding-top: 20%;
	}
	.gameBottomText {
		text-align: center;
		padding-bottom: 15%;
	}
}

@media (min-width: 1200px) {
	* {
		font-size: 110%;
	}
	.gameTop {
		display: flex;
	}
	.gameBottomContainer {
		align-items: center;
		padding-top: 20%;
	}
	.gameBottomText {
		text-align: center;
		padding-bottom: 15%;
	}
}
    
html, body {
	height: 100%;  
	display: flex;
	flex-direction: column;
	background-color: DarkCyan;
	overflow: auto;
}
    
 .gameTop {
	 background-color: MediumTurquoise;
	 flex-shrink: 0;
}

.gameTopText{
	font-family: Georgia;
	font-size: 1rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	margin-right: 1rem;
	margin-left: 1rem;
}

.gameBottomContainer {
	background-color: DarkCyan;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.gameBottomHeadline{
	font-family: Georgia;
	font-size: 2.75rem;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	text-decoration: underline;
	padding-right: 1.25rem;
	padding-left: 1.25rem;
	padding-bottom: 0.75rem;
}
	
.gameBottomText{
	font-family: Georgia;
	font-size: 2rem;
	font-weight: bold;
	color: #ffffff;
	padding-right: 1.25rem;
	padding-left: 1.25rem;
}

.gameFooter {
	background-color: MediumTurquoise;
	flex-shrink: 0;
	display: none;
}

.gameFooterContent {
	font-family: Georgia;
	font-size: 1rem;
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: none;
}

.indexContainer {
	background-color: DarkCyan;
	flex-grow: 1;
}

.indexText{
	font-family: Georgia;
	font-size: 1em;
	font-weight: bold;
	color: #ffffff;
	padding: 15px;
}

.indexHeadline{
	font-family: Georgia;
	font-size: 1.75em;
	font-weight: bold;
	color: #ffffff;
	padding: 15px;
}

.indexTable{
	font-family: Georgia;
	font-size: 1em;
	font-weight: bold;
	color: #ffffff;
	padding: 15px;
}

.indexLeftColumn{
	padding-right: 1.5em;
}

input[type="checkbox"] {
    zoom: 1.5;
	margin: 0.15em;
}

input[type="button"] {
    zoom: 1.5;
}
