* {
	padding:0;
	margin:0;
}
    
html, body {
	height: 100%;  
	display: flex;
	flex-direction: column;
	background-color: DarkCyan;
	overflow: auto;
}
    
body > * {
	flex-shrink: 0;
}

.introContainer {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

.introHeader {
	display: flex;
	max-width: 100%;
	align-items: center;
}

img { 
	flex: 1;
	max-width: 100%;	
	object-fit: contain;
}

.introHeadline{
	font-family: Georgia;
	font-size: 2.75rem;
	font-weight: bold;
	color: #ffffff;
	margin-top: 20px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 20px;
	text-align: center;
	text-decoration: underline;
}
	
.introText{
	font-family: Georgia;
	font-size: 1.5rem;
	font-weight: bold;
	color: #ffffff;
	margin-bottom: 15px;
	margin-right: 15px;
	margin-left: 15px;
}

@media (max-width: 600px) 
and (orientation:portrait){
	* {
	font-size: 100%;
	}
}

@media (max-width: 600px) 
and (orientation:landscape){
	* {
	font-size: 100%;
	}
}

@media (min-width: 600px) 
and (orientation:portrait){
	* {
	font-size: 104%;
	}
}

@media (min-width: 600px) 
and (orientation:landscape){
	* {
	font-size: 104%;
	}
}

@media (min-width: 768px)
and (max-width:991px) 
and (orientation:portrait){
	* {
	font-size: 106%;
	}
}

@media (min-width: 768px)
and (max-width:991px) 
and (orientation:landscape){
	* {
	font-size: 106%;
	}
}

@media (min-width: 992px) 
and (max-width:1199px){
	* {
	font-size: 108%;
	}
}

@media (min-width: 1200px) {
	* {
	font-size: 110%;
	}
}

@media (min-width: 1200px) {
	* {
	font-size: 110%;
	}
}