* {
	padding: 0;
	margin: 0;
}

@media (max-width: 600px) 
and (orientation:portrait){
	* {
		font-size: 100%;
	}
	.gameBottomHeadline {
		padding-top: 20%;
	}
	.gameBottomText {
		padding-top: 2%;
		padding-bottom: 15%;
	}
}

@media (max-width: 600px) 
and (orientation:landscape){
	* {
		font-size: 100%;
	}
	.gameTop {
		display: none;
	}
	.gameBottomContainer {
		justify-content: center;
	}
	.gameBottomText {
		align-self: center;
    text-align: center;
	}
}

@media (min-width: 600px) 
and (max-width:767px) 
and (orientation:portrait){
	* {
		font-size: 104%;
	}
	.gameBottomHeadline {
		padding-top: 20%;
	}
	.gameBottomText {
		padding-bottom: 15%;
	}
}

@media (min-width: 600px) 
and (max-width:767px) 
and (orientation:landscape){
	* {
		font-size: 104%;
	}
	.gameTop {
		display: none;
	}
	.gameBottomContainer {

	}
	.gameBottomText {
		align-self: center;
		text-align: center;
	}
}

@media (min-width: 768px)
and (max-width:991px) 
and (orientation:portrait){
	* {
		font-size: 106%;
	}
	.gameTop {
		display: flex;
	}
	.gameBottomHeadline {
		padding-top: 20%;
	}
	.gameBottomText {
		padding-bottom: 15%;
	}	
}

@media (min-width: 768px)
and (max-width:991px) 
and (orientation:landscape){
	* {
		font-size: 106%;
	}
	.gameTop {
		display: none;
	}
	.gameBottomContainer {
		justify-content: center;
	}
	.gameBottomText {
		align-self: center;
		text-align: center;
	}
}

@media (min-width: 992px) 
and (max-width:1199px){
	* {
		font-size: 108%;
	}
	.gameTop {
		display: flex;
	}
	.gameBottomContainer {
		justify-content: center;
	}
	.gameBottomText {
		align-self: center;
		text-align: center;
	}
}

@media (min-width: 1200px) {
	* {
		font-size: 110%;
	}
	.gameTop {
		display: flex;
	}
	.gameBottomContainer {
		justify-content: center;
	}
	.gameBottomText {
		align-self: center;
		text-align: center;
	}
}
    
html, body {
	height: 100%;  
	display: flex;
	flex-direction: column;
	background-color: DarkCyan;
	overflow: auto;
}

.indexContainer {
	background-color: DarkCyan;
	flex-grow: 1;
}

.indexHeader {
	display: flex;
	max-width: 100%;
	align-items: center;
}

img { 
  object-fit: contain;
}

.indexText{
	display: flex;
	font-family: Georgia;
	font-size: 1em;
	font-weight: bold;
	color: #ffffff;
	padding: 15px;
}

.indexHeadline{
	display: flex;
	font-family: Georgia;
	font-size: 1.75em;
	font-weight: bold;
	color: #ffffff;
	padding: 15px;
}

.indexTable{
	display: flex;
	font-family: Georgia;
	font-size: 1em;
	font-weight: bold;
	color: #ffffff;
	padding: 15px;
}

.indexLeftColumn{
	padding-right: 1.5em;
}

input[type="checkbox"] {
    zoom: 1.5;
	margin: 0.15em;
}

input[type="button"] {
    zoom: 1.5;
}